<% if (locals.logged == true) { %>
<%- include('./partials/headerLogueado') %>
<% } else { %>

<%- include('./partials/header') %>
<% }	%>


<body>


	<!-- Partials de las distintas secciones de productos para no tener que hardcodear todo en cada una de las vistas. Utilizamos esta opcion para resolver el problema hasta poder conectar la base de datos con el proyecto.-->

	<div class="banner">
		<img src="/images/diseno banner 2.jpg" alt="">
	</div>

	<div class="container products-wrapper">
		<div class="col-12">
			<h2 class="products-title typography-title"> Novedades</h2>
		</div>
		<div class="row">
			<% for (let i = 0; i < products.length; i++) { %>

			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">

					<a href="/ramo/products/<%= products[i].id %>">
						<figure class="product-box_image">
							<img src="/images/products/<%= products[i].image %>" alt="<%= products[i].product_name %>">
						</figure>
						<article class="product-box_data">

							<h2><%= products[i].product_name %></h2>
							<% if (locals.logged==true ) { %>
							<h4>Publicado por <a href="/ramo/profile/<%= products[i].id %>">
									
									<%= products[i]["products_users.name"] %>
								</a>
							</h4>
							<% } %>

							<p><%= products[i].description %></p>
							<p></p> <!-- configurar controller de comentarios.length -->
						</article>
					</a>
				</section>
			</div>


			<% } %>
		</div>




		<!-- footer -->
		<%- include('./partials/footer') %>
</body>

</html>