<% if (locals.logged == true) { %>
<%- include('./partials/headerLogueado') %>
<% } else { %>
<%- include('./partials/header') %>
<% }	%>

<body>
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>Editar: <%= products.product_name  %> </h1>
                <h2>Ingresá los datos correspondientes para editar tu producto.</h2>
            </div>
            <div class="form-content">
                <form method="POST" action="/ramo/productEdit" enctype="multipart/form-data">
                    <input type="hidden" name="productId" value="<%= products.id %> ">
                    <div class="form-group">
                        <label for="productName">
                            Renombrá tu producto
                        </label>
                        <input type="text" name="product_name" placeholder="nombre del producto" maxlength="30"
                            value="<%= products.product_name %> " />
                    </div>
                    <div class="form-group">
                        <label for="image" class="postLabel">Actualiza la imagen de tu producto</label>
                        <input type="hidden" name="oldimage" value="<%= products.image %> ">
                        <input type="file" name="newImage" class="image">
                    </div>
                    <div class="form-group">
                        <label for="password">Describí tu producto</label>
                        <input type="text" name="description" placeholder="caracteristicas del producto"
                            value="<%= products.description %> " />
                    </div>
                    <div class="form-group">
                        <label for="password">Precio de tu producto</label>
                        <input type="text" name="price" placeholder="precio del producto"
                            value="<%= products.price %> " />
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Por seguridad escriba su contraseña
                        </label>
                        <input type="password" name="password" placeholder="Nueva contraseña">
                    </div>
                    <div class="form-group">
                        <%- include('./partials/flashKeys') %>
                        <button type="submit">Actualizar producto</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
    </div>
    <br><br><br><br><br>
    <%- include('./partials/footer') %>
</body>

</html>