<% if (logged==true) { %>
	<%- include('./partials/headerLogueado') %>
		<% } else { %>

			<%- include('./partials/header') %>
				<% } %>


					<body>





						<!-- product detail -->
						<div class="container products-wrapper">
							<div class="d-flex align-items-center">
								<h2 class="products-title typography-title">
									<%= products.product_name %> #<%= products.id %>
								</h2>
								<p class="product-detail-description">
									<!--<a href="/ramo/productAdd">Editar</a>-->
								<div class="no-margin">
									<button type="editar"><a href="/ramo/productEdit">Editar</a></button>

								</div>

								</p>
							</div>
							<div class="product-detail">
								<div class="row">
									<article class="col-12 col-lg-8 product-detail-info">
										<img src="/images/products/<%= products.image %>" alt="Modulo rack L wengue">
										<p class="product-detail-description">
											<%= products.description %>
										</p>
									</article>
									<div class="col-12 col-lg-4 title-thypography">

										<section class="comments">
											<% if (comments.length>= 5) { %>
												<% for (let i=0; i < 5; i++) { %>
													<article>
														<img src="https://via.placeholder.com/35" alt="">
														<div class="data">
															<p class="user">
																<strong> <a
																		href="/ramo/profile/<%= comments[i].creator_id  %> ">
																		<%= comments[i].creator_id %>
																	</a> </strong>
																<%= comments[i].content %>
															</p>
														</div>
													</article>

												<% } %>
											<% } else { %>
										


												<% for (let i=0; i < comments.length; i++) { %>
													<article>
														<img src="https://via.placeholder.com/35" alt="">
														<div class="data">
															<p class="user">
																<strong> <a
																		href="/ramo/profile/<%= comments[i].creator_id  %> ">
																		<%= comments[i].creator_id %>
																	</a> </strong>
																<%= comments[i].content %>
															</p>
														</div>
													</article>

												<% } %>
												<% }%>


										</section>
										<form class="form-comentario" action="" method="GET">
											<input class="form-input" type="text" value=""
												placeholder="Agregar comentario">
											<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
										</form>
										<hr>
									</div>
								</div>
							</div>
						</div>


						<!-- /product detail -->

						<%- include('./partials/footer') %>
					</body>

					</html>