<% if (locals.logged == true) { %>
    <%- include('./partials/headerLogueado') %>
        <% } else { %>

            <%- include('./partials/header') %>
                <% }	%>


                    <body>


                        <div class="form">
                            <div class="form-toggle"></div>
                            <div class="form-panel one">
                                <div class="form-header">
                                    <h1>Editar: <%= products.product_name  %> </h1>
                                    
                                    <h2>Ingresá los datos correspondientes para editar un producto.</h2>
                                </div>
                                <div class="form-content">
                                    <form method="POST" action="/ramo/productEdit">
                                        <input type="hidden" name="idP" value="<%= products.id %> ">
                                        <input type="hidden" name="id" value="<%= locals.user.id %> ">
                                        <div class="form-group">
                                            <label for="productName">Nombrá tu producto </label>
                                            <input type="text" name="product_name" placeholder="nombre del producto" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Describí tu producto</label>
                                            <input type="text" name="description" placeholder="caracteristicas del producto" required />
                                        </div>
                                        <!-- <div class="form-group">
                                            <button type="submit">Cargar imagenes</button>
                                        </div> -->
                                        <div class="form-group">
                                            <label for="password">
                                                Por favor escriba su contraseña 
                                            </label>
                                            <input type="password" name="password" placeholder="Nueva contraseña">
                        
                                        </div>
                                        <div class="form-group">
                                            <button type="submit">Actualizar producto</button>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                        </div>
                        </div>
                        <br><br><br><br><br>


                        <%- include('./partials/footer') %>
                    </body>

                    </html>