<% if (locals.logged == true) { %>
<%- include('./partials/headerLogueado') %>
<% } else { %>

<%- include('./partials/header') %>
<% }	%>



<body>
	<% if (search.length == 0) { %>
	<div>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<div class="empty-icon-container">
						<div class="animation-container">
							<div class="bounce"></div>
							<div class="pebble1"></div>
							<div class="pebble2"></div>
							<div class="pebble3"></div>
							<div class="pebble4"></div>
							<div class="pebble5"></div>
						</div>
						<div class="empty-icon-container">
							<h3 class="products-title typography-title result-nulo ">¡Perdón!
								<br>
								Como no encontramos ningun resultado para "<%= lookedFor %>", te compartimos productos
								que creemos que te van a gustar.

							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% } else { %>
	<div class="container products-wrapper">
		<h2 class="todos-prod2" style="text-align: center;">Resultados para tu búsqueda "<%= lookedFor %>"</h2>
		<div class="row">
			<% for (let i = 0; i < search.length; i++) { %>

		
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">

					<% if (locals.logged==true ) { %>
					<div class="publishedBy">
						<a href="/ramo/profile/<%= search[i].products_users.id %>">
							<h4>Publicado por
								<%= search[i].products_users.name %> </h4>
						</a>

					</div>
					<% } %>
					<a href="/ramo/products/<%= search[i].id %>">
						<figure class="product-box_image">
							<img class="imagen" src="/images/products/<%= search[i].image %>"
								alt="<%= search[i].product_name %>">
						</figure>
						<article class="product-box_data">

							<h2><%= search[i].product_name %></h2>

							<p><%= search[i].description %></p>
							<p></p>
						</article>
					</a>
				</section>
			</div>


			<% } %>
		</div>
	</div>

	<% }	%>

	

	<%- include('./partials/footer') %>
</body>

</html>